body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("./2024-10-09\ 13.17.21.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  :root{
  --class-img:var(--class-img);
  --class-video:var(--class-video);
  }
 header{
background-color: black;
    color: #fff;
    padding: 20px;
 }
 

  nav {
    background-color: black;
    padding: 10px;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  nav li {
    margin-right: 20px;
  }
  nav a {
    color: aliceblue;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
    text-align: center;
    color: black;
  }
h1{
  text-align: center;
}

    .Forimage{
      --class-img:var(--class-img);
      display: flex;
      justify-content: center;
    }
    p{
      text-align: center;
    }

    .video{
      --class-video:var(--class-video);
      display: flex;
      justify-content: center;
    }
  footer{
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 20px;
  }
